/* Allgemeine Styles für das Theme */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--_background-color);
    color: var(--_color);
}

/* Header */

header {
    padding-inline: 0.5rem;
    padding-block: 1rem;

    /* TODO: Darker Color */
    /* box-shadow: 0px 4px 16px hsl(from var(--_background-color) h s l); */

    box-shadow: 0 4px 16px
        oklch(from var(--_background-color) calc(l * 0.95) c h);
}

header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(960px, 100%);

    margin-inline: auto;
}

header nav ul {
    list-style-type: none;
}

header ul a {
    text-decoration: none;
    color: black;
}

header ul a:hover {
    color: var(--_accent-color);
}

header nav ul:first-child {
    display: flex;
    gap: 0.5rem;
}

header ul * ul {
    display: none;
}

header .blog-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}
