@import "./header.css";

:root {
  --_max-width: 68.75rem;
  --_viewport-padding: 16px;
}

/* Allgemeine Styles für das Theme */
body {
  font-family: "Roboto", monospace, sans-serif;
  background-color: var(--_background-color);
  color: var(--_color);
}

header.theme-header .header-container,
.content,
footer.theme-footer .footer-container {
  /* width: min(1024px, 95%); */

  width: min(100%, var(--_max-width));
  padding-inline: var(--_viewport-padding);
  margin-inline: auto;
}

.content {
  /* margin-block: 1rem; */
  /* outline: 1px solid tomato; */
}

h1, h2, h3, h4, h5, h6 {
  margin-block: .5em 1em;
}

/* p {
  line-height: 1.25em;
} */