header.theme-header {
  /* background-color: aqua; */
}

header.theme-header .header-container {
  /* background-color: aquamarine; */

  /* width: min(100%, var(--_max-width)); */

  /* margin-inline: auto; */
  /* padding-inline: var(--_viewport-padding); */

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: palegreen;
}

header.theme-header .header-container .navigation {
  display: flex;
  gap: .5rem;
  align-items: center;

  background-color: palegoldenrod;
}

header.theme-header .header-container .controls {
  display: flex;
  flex-direction: column;
  background-color: palevioletred;
}

.logo {
  /* background-color: palegoldenrod; */
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-size: 2.75rem;
  font-weight: bold;
  margin-block: .75rem;
}

.navigation ul {
  list-style-type: none;
}

.navigation ul li {
  text-decoration: none;
  font-weight: bold;
  /* color: inherit; */
}

.navigation ul li a {
  text-decoration: none;
  color: var(--_primary-color);
}

.navigation ul li a:hover {
  color: var(--_accent-color, #98fb98);
}

header.theme-header {
  /* padding-inline: 0.5rem; */
  /* padding-block: 1rem; */

  /* box-shadow: 0 4px 16px oklch(from var(--_background-color) calc(l * 0.95) c h);

  color: var(--_accent-color);

  container-type: inline-size;
  container-name: header; */
}

header.theme-header .header-container {
  /* display: flex;
  align-items: center;
  justify-content: space-between;*/
} 

header.theme-header .theme-navigation__container {
  /* display: grid;
  place-items: end;
  gap: 0.25rem; */
}

@container header (width < 500px) {
  header.theme-header .header-container .theme-navigation__container {
    /* background-color: tomato; */
    /* display: none; */
  }
}

header.theme-header .header-container .theme-navigation__container nav ul {
  /* list-style-type: none;
  margin: 0;
  padding: 0; */
}

header.theme-header .header-container .theme-navigation__container nav ul a {
  /* text-decoration: none;
  color: var(--_secondary-color); */
}

header.theme-header .header-container .theme-navigation__container nav ul a:hover {
  /* color: var(--_accent-color); */
}

/* First Level */
header.theme-header .header-container .theme-navigation__container nav ul:first-child {
  /* display: flex;
  gap: 0.5rem; */
}

header.theme-header .header-container .theme-navigation__container nav ul * ul {
  /* display: none; */
}

/* Search */
header form {
  /* display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center; */
}

header input.search-field,
header input.search-submit {
  /* appearance: none;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 10px;
  border: 1px solid var(--_accent-color); */
}

header .search-submit {
  /* background-color: var(--_accent-color);
  color: var(--_primary-color);
  transition: transform 250ms ease-in; */
}

header .search-submit:hover {
  /* cursor: pointer;
  transform: scale(1.05); */
}
